{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-search-job">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1" style="padding-bottom: 100px;">
                    <div class="search-job" style="margin-top: 50px; margin-bottom: 200px; color: #fff;">
                        <!--<h2 class="search-job-title" style="color: #fff; font-weight: bold; font-size: 2em;"><span>Verifiez le resultat</span> </h2>
                        <P class="text-center" style="font-weight: bold;">Entrez les 8 prémiers caractères de votre code.</P>-->

                        <div class="search-job-form">
                            <form action="#" method="get">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-12">
                                        <div class="search-job-form-field first">
                                            <input type="text" id="search" class="search-job-form-field" placeholder="Entrez les 8 premiers caractères de votre code">
                                            <label for="searchJob" class="search-job-form-field-label"><span class="icon icon-search"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <h3 class="search-job-title-new-job" id="entitiesNav"></h3>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 8;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('recherche') }}",
                        data: {
                            'code' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            if (value==$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key == 'resultats') {
                                            if (id != 'error') {
                                                entitySelector.append(
                                                        '<span style="font-size: 1.2em; font-weight: bold;">FE-LI-CI-TA-TION !!! </span><br><br>' +
                                                        'Cliquez sur votre code pour voir votre gain <br><br>' +
                                                        '<span style="font-size: 1.2em; font-weight: bold"> <a href="/tombola/'+id+'-premier-tirage" title="Cliquez pour voir le montant de votre gain">'+value[0]+'</a></span><br><br><br>'
                                                );
                                            } else {
                                                entitySelector.append('<strong>'+value+'</strong>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

